.footer {
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

.mdLogoContainer {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px !important;
}

.quickLinks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
  height: 100%;
}

.navButton {
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    opacity: 1;
    color: #fff;
    font-weight: 500;
  }
}
.qrSection {
  .qrHeading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 20px;
    width: 90%;
  }

  .qrCode {
    width: 84px;
    height: 84px;
  }

  .scanText {
    color: rgba(255, 255, 255, 0.6);

    // font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .select {
    width: 160px;
    :global {
      .ant-select-selector {
        border-radius: 6px;
        border: 0.5px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.06);
        color: rgba(255, 255, 255, 0.6);
      }
      .ant-select-arrow {
        color: rgba(255, 255, 255, 0.6);
      }
      .ant-select-selection-item {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

.navSection {
  h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .navList {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 16px;
      padding: 0;
    }

    a {
      color: rgba(255, 255, 255, 0.6);
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: #fff;
      }
    }
  }
}

.logoR {
  transform: scale(0.7);
}
.logoToken_m {
  transform: scale(0.75);
  margin-left: -10px;
}

.footerNav {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1;
}

.customCollapse {
  display: none;
  width: 100%;
  border: none;

  :global {
    .ant-collapse {
      border: none;
    }
    .ant-collapse-item {
      width: 100%;
      border: unset;
    }
    .ant-collapse-item-active .ant-collapse-header {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }
    .ant-collapse-content {
      background: black;
      color: white;
      border: none;
    }
    .ant-collapse-content-box {
      padding: 0 !important;
    }

    .ant-collapse-content {
      background: black;
      color: white;
      border: none;
    }
    .ant-collapse-header {
      border-radius: 0 !important;
      padding: 10px 16px !important;
      transition: background 0.3s ease;
      flex-direction: row;
    }
    .ant-collapse-header-text {
      color: white;
      font-weight: 500;
    }
  }
}

@media all and (max-width: 1200px) {
  .grid {
    gap: 20px;
  }
  .quickLinks {
    gap: 15px;
  }
}

@media all and (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .quickLinks {
    // align-items: center;
    margin-top: 48px;
  }
  .qrSection {
    display: none;
  }
  .mdLogoContainer {
    display: flex;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 768px) {
  .grid {
    display: block;
  }
  .customCollapse {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .quickLinks {
    display: none;
  }
  .navSection {
    .navList {
      margin-top: 8px;
    }
  }
  .footer {
    padding: 0;
    .container {
      padding: 0;
      .mdLogoContainer {
        padding-inline: 16px;
      }
    }
  }

  .navButton {
    padding: 10px 16px;
  }
  .mdLogoContainer {
    margin-bottom: 30px;
  }
}
